body {
  font-family: Arial;
  background-color: #c2d9ea;
  color: #333;
  text-align: center;
}

h1 {
  color: #d32f2f;
}

h2 {
  color: #555;
}

h3 {
  color: #000000;
}

p {
  width: 60%;
  margin: auto;
}

img {
  width: 350px;
  border-radius: 10px;
  margin: 20px;
}

a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

a:hover {
  background: #0056b3;
}

iframe {
  margin-top: 20px;
  border-radius: 10px;
  width: 560px;
  height: 315px;
}

.nav {
  margin-top: 20px;
}

